@inherits LayoutComponentBase

<Layout>
    <Header>
        <h1 style="color: white;">
            Welcome to Travel Booking
        </h1>
    </Header>
    <Content style="padding-left: 50px; padding-top: 10px; padding-bottom: 10px; padding-right: 50px;">
        @Body
    </Content>
</Layout>